@page
@model WebApp.UI.Pages.Admin.Products.AddModel
@{
     ViewData["Title"] = "Add Packaging Box";
}

<form method="post" enctype="multipart/form-data">
    <h4>Add New Product</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3 row">
        <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Name" class="form-control" />
        </div>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Input.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Description" class="form-control" />
        </div>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Input.Value" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Value" class="form-control" />
        </div>
        <span asp-validation-for="Input.Value" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Main Display Upload</label>
        <div class="col-sm-6">
            <input type="file" asp-for="Input.MainFiles" multiple />
        </div>

    </div>
    <div class="d-grid gap-2 d-md-flex offset-6">
        <button class="btn btn-primary me-md-2" type="button">Cancel</button>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </div>

</form>
