@page
@model WebApp.UI.Pages.Products.UpdateModel
@{
}

<form method="post" enctype="multipart/form-data">
    <h4>Update Product</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Input.Id" />

    <img src="@Model.Input.ProductImages.FirstOrDefault()?.RelativePath" class="figure-img img-fluid rounded" style="width:1000px;height:500px" alt="...">
    <div class="mb-3 row">
        <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Name" class="form-control" />
        </div>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Input.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Description" class="form-control" />
        </div>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Input.Value" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Input.Value" class="form-control" />
        </div>
        <span asp-validation-for="Input.Value" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Main Display Upload</label>
        <div class="col-sm-6">
            <input type="file" asp-for="Input.File" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Front Image Upload</label>
        <div class="col-sm-6">
            <input type="file" asp-for="Input.FrontImage" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Back Image Upload</label>
        <div class="col-sm-6">
            <input type="file" asp-for="Input.BackImage" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Packing Image Upload</label>
        <div class="col-sm-6">
            <input type="file" asp-for="Input.PackingImage" />
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex offset-6">
        <button class="btn btn-primary me-md-2" type="button">Cancel</button>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </div>

</form>