<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp.UI</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="Admin/Products/Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Admin/Products/Index">
                                    Admin
                                </a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Cart">
                                Cart
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex">

                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <span class="navbar-text">
                                Welcome @User.Identity.Name
                            </span>
                            <ul class="navbar-nav ms-auto flex-nowrap flex-grow-1 text-right">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="UserAccount" asp-action="Logout">Sign Out</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav ms-auto flex-nowrap flex-grow-1 text-right">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="Account/Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="Account/Register">Register</a>
                                </li>

                            </ul>
                        }
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApp.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>




