@page
@model WebApp.UI.Pages.CartModel
@{
}
<link href="~/css/cart.css" rel="stylesheet" />
<div class="card">
    <div class="row">
        <partial name="_CartPartial" model="@Model.CartList" />
    </div>
</div>

@section scripts {

    <script>
        var formData = {
            "productId": "",
            "qty": 1,
            "value": 0,
            "userId": ""
        }
        //var apiUrl = "https://localhost:44347";
        var apiUrl = "http://api.robustpackagingeshop.com";
        var addOneToCart = function (e) {

            var productId = e.target.dataset.productId;
            var userName = e.target.dataset.userId;
            this.formData.productId = productId;
            this.formData.userid = userName;

            axios.post(apiUrl + "/api/Cart/AddOneToCart", this.formData)
                .then(res => {
                    console.log(res.data);
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var updateCart = function () {

            axios.get('/UserAccount/GetCartPartialView')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-main');

                    el.outerHTML = html;
                })
        }

        var removeFromCart = function (e) {

            var productId = e.target.dataset.productId;
            var userName = e.target.dataset.userId;
            this.formData.productId = productId;
            this.formData.userid = userName;

            axios.post(apiUrl + "/api/Cart/RemoveProduct", this.formData)
                .then(res => {
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }

    </script>
}