@page
@model WebApp.UI.Pages.CartModel
@{
}
<link href="~/css/cart.css" rel="stylesheet" />
<div class="card">

    <partial name="_CartPartial" model="@Model" />

</div>

@section scripts {

    <script>
        var formData = {
            "productId": "",
            "qty": 1,
            "value": 0,
            "userId": ""
        }
        // var apiUrl = "https://localhost:44347";
       // var apiUrl = "http://api.robustpackagingeshop.com";
       var apiUrl = '@Model.ApiUrl';
        var addOneToCartSession = function (e) {
            let productId = e.target.dataset.productId;
            let quantity = e.target.dataset.quantity;
            this.formData.productId = productId;
            this.formData.qty = parseInt(quantity);

            axios({
                url: "/UserAccount/AddOneProductToCartSession",
                method: "post",
                data: this.formData,
                headers: {
                    'Content-Type': "application/json"
                }
            }).then(res => {
                console.log(res.data);
                updateCart();
            })
                .catch(err => {
                    alert(err.error);
                })
        }

        var removeOneFromCartSession = function (e) {
            let productId = e.target.dataset.productId;
            let quantity = e.target.dataset.quantity;
            this.formData.productId = productId;
            this.formData.qty = parseInt(quantity);
            axios({
                url: "/UserAccount/RemoveOneProductToCartSession",
                method: "post",
                data: this.formData,
                headers: {
                    'Content-Type': "application/json"
                }
            })
                .then(res => {
                    console.log(res.data);
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var removeProductFromCartSession = function (e) {

            let productId = e.target.dataset.productId;
            axios.post("/UserAccount/RemoveProductToCartSession/?id=" + productId,)
                .then(res => {
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var addOneToCart = function (e) {

            let productId = e.target.dataset.productId;
            let userName = e.target.dataset.userId;
            this.formData.productId = productId;
            this.formData.userid = userName;

            axios.post(apiUrl + "/api/Cart/AddOneToCart", this.formData)
                .then(res => {
                    console.log(res.data);
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var updateCart = function () {

            axios.get('/UserAccount/GetCartPartialView')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-main');

                    el.outerHTML = html;
                })
        }

        var removeFromCart = function (e) {

            let productId = e.target.dataset.productId;
            let userName = e.target.dataset.userId;
            this.formData.productId = productId;
            this.formData.userid = userName;

            axios.post(apiUrl + "/api/Cart/RemoveProduct", this.formData)
                .then(res => {
                    updateCart();
                })
                .catch(err => {
                    alert(err.error);
                })
        }


    </script>
}